@import "parts/helpers.css";
@import "cmps/user-msg.css";
@import "apps/email/emails-list.css";
@import "apps/keep/keep-list.css";
@import "parts/fonts.css";
@import "apps/email/email-details.css";
@import "apps/email/email-compose.css";
@import "apps/books/books-app.css";

* {
    box-sizing: border-box;
}

html {
    font-family: roboto-light, sans-serif;
}

body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a{
    text-decoration: none;
    color: black
}

.app-header {
    height: 10vh;
    background-color: rgb(87, 183, 221);
    position: relative;
}

.app-header .header-elements {
    height: 100%;
    padding: 0 20px;
    
}

.app-header .fa-bars{
    cursor: pointer;
    font-size: 1.5rem;

}

.logo {
    font-family: genos-bold, sans-serif;
    font-size: 3rem;
}

.nav-bar{
    position: absolute;
    right: 20px;
    top: 80px;
    background-color: rgb(51, 51, 51);
    /* border-radius: 10px; */
    /* padding: 10px; */
}

.nav-bar a{
    color: rgb(212, 212, 212);
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar a:hover{
    background-color: rgb(116, 116, 116);
}

.main-page {
    background-color: rgb(240, 240, 240);
    min-height: 85vh;
}

.app-footer {
    height: 5vh;
    padding: 10px;
    background-color: rgb(87, 183, 221);
}

.app-home{
    background-image: url(../img/home-page.jpg);
    object-fit: cover;
    background-size: 2000px;
    background-repeat: no-repeat ;
    background-position: center;
}

.app-home img {
    width: 100%;
    min-width: 1200px;
}

.app-home h1 {
    padding-top: 50px;
    font-family: genos-regular, sans-serif;
    text-align: center;
    font-size: 5em;
    color: #ffffff;
    text-shadow: 0px 0px 9px black;
}

.app-about h1 {
    font-family: genos-regular, sans-serif;
    text-align: center;
    font-size: 5em;
}

.app-about p {
    font-family: genos-regular, sans-serif;
    text-align: center;
    font-size: 2em;
    margin: auto 20px;
}