.email-compose .header {
    padding: 10px;
    background-color: #d8dada;
}

.email-compose {
    padding: 5px;
}

.email-compose .to {
    padding: 10px;
    width: 100%;
    font-size: 1.15em;
    font-family: roboto-light, sans-serif;
}

.email-compose .subject {
    padding: 10px;
    width: 100%;
    font-size: 1.15em;
    font-family: roboto-light, sans-serif;
}

.email-compose .body {
    font-size: 1.15em;
    font-family: roboto-light, sans-serif;
}

.email-compose .btns > *  {
    width: 50px;
    height: 50px;
}

.email-compose i {
    font-size: 2em;
}

.email-compose .btns {
    padding-inline-start: 20px;
    padding-top: 20px;
}