@font-face {
    font-family: roboto-light;
    src: url('../../fonts/roboto/Roboto-Light.ttf');
}

@font-face {
    font-family: roboto-medium;
    src: url('../../fonts/roboto/Roboto-Medium.ttf');
}

@font-face {
    font-family: genos-bold;
    src: url('../../fonts/static/Genos-Bold.ttf');
}

@font-face {
    font-family: genos-regular;
    src: url('../../fonts/static/Genos-Regular.ttf');
}