.note-preview-container {
    font-size: 18px;
    background-color: lightgoldenrodyellow;
    border: 1px solid black;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.note-preview{
    padding: 5px;

}

.note-list-container {
    margin: 0;
    /* padding: 15px; */
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: flex-start;
}

.note-preview img {
    object-fit: fill;
    max-width: 100%;
}

.note-preview video {
    object-fit: fill;
    max-width: 100%;
}

.note-todo li {
    font-size: 0.8rem;
}

.set-color {
    position: relative;
}

.set-color:hover {
    color: blue;
}

.drop-down-colors {
    padding: 5px;
    border-radius: 10px;
    font-size: 1.5em;
    position: absolute;
    top: 0.5em;
    left: -40px;
    gap: 4px;
    background-color: rgba(112, 112, 112, 0.376);
}
